In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/Car details v3.csv")

In [17]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,owner_encoded,brand
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,1,Maruti
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,2,Skoda
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,3,Honda
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,1,Hyundai
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,1,Maruti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0,1,Hyundai
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,4,Hyundai
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0,1,Maruti
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,Tata
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,Tata

In [4]:
df.groupby("owner").count()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,mileage,engine,max_power,torque,seats
owner,,,,,,,,,,,,
First Owner,5289,5289,5289,5289,5289,5289,5289,5215,5215,5221,5215,5215
Fourth & Above Owner,174,174,174,174,174,174,174,160,160,160,160,160
Second Owner,2105,2105,2105,2105,2105,2105,2105,2017,2017,2017,2016,2017
Test Drive Car,5,5,5,5,5,5,5,5,5,5,5,5
Third Owner,555,555,555,555,555,555,555,510,510,510,510,510

In [6]:
owner_map = {
    "Test Drive Car": 0,
    "First Owner": 1,
    "Second Owner": 2,
    "Third Owner": 3,
    "Fourth & Above Owner": 4
}

In [8]:
df["owner_encoded"] = df.owner.apply(lambda x: owner_map[x])

In [10]:
df.groupby("owner_encoded").count()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
owner_encoded,,,,,,,,,,,,,
0,5,5,5,5,5,5,5,5,5,5,5,5,5
1,5289,5289,5289,5289,5289,5289,5289,5289,5215,5215,5221,5215,5215
2,2105,2105,2105,2105,2105,2105,2105,2105,2017,2017,2017,2016,2017
3,555,555,555,555,555,555,555,555,510,510,510,510,510
4,174,174,174,174,174,174,174,174,160,160,160,160,160

In [13]:
df["brand"] = df.name.apply(lambda x: x.split()[0])

In [16]:
df["brand"].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [19]:
df["age"] = 2022 - df.year

In [20]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,owner_encoded,brand,age
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,1,Maruti,8
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,2,Skoda,8
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,3,Honda,16
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,1,Hyundai,12
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,1,Maruti,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0,1,Hyundai,9
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,4,Hyundai,15
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0,1,Maruti,13
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,Tata,9
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,Tata,9

In [18]:
df.loc[df.brand == "Audi"]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,owner_encoded,brand
57,Audi A6 2.0 TDI Technology,2013,1750000,33900,Diesel,Dealer,Automatic,Second Owner,17.68 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,2,Audi
59,Audi A6 2.0 TDI Design Edition,2013,1689999,50000,Diesel,Dealer,Automatic,First Owner,18.53 kmpl,1968 CC,187.74 bhp,400Nm@ 1750-3000rpm,5.0,1,Audi
131,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
146,Audi Q7 35 TDI Quattro Premium,2015,2650000,53000,Diesel,Dealer,Automatic,First Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,1,Audi
906,Audi A4 2.0 TDI,2014,1600000,44000,Diesel,Individual,Automatic,Second Owner,16.55 kmpl,1968 CC,147.51 bhp,320Nm@ 1750-2500rpm,5.0,2,Audi
1411,Audi Q5 2.0 TDI,2011,1300000,120000,Diesel,Individual,Automatic,First Owner,12.8 kmpl,1968 CC,167.6 bhp,350Nm@ 1750-2500rpm,5.0,1,Audi
1561,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
1857,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
1977,Audi Q3 2.0 TDI Quattro Premium Plus,2017,2825000,22000,Diesel,Dealer,Automatic,First Owner,15.73 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
2109,Audi A3 35 TDI Premium Plus,2017,2600000,70000,Diesel,Individual,Automatic,First Owner,20.38 kmpl,1968 CC,143 bhp,320Nm@ 1750-3000rpm,5.0,1,Audi
2129,Audi Q5 3.0 TDI Quattro,2014,1850000,76131,Diesel,Individual,Automatic,First Owner,13.22 kmpl,2967 CC,241.4 bhp,580Nm@ 1400-3250rpm,5.0,1,Audi
2131,Audi Q7 3.0 TDI Quattro,2014,3000000,65000,Diesel,Individual,Automatic,First Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,1,Audi
2135,Audi Q7 3.0 TDI Quattro Premium Plus,2012,1850000,70000,Diesel,Individual,Automatic,First Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,1,Audi
2828,Audi Q3 35 TDI Quattro Premium Plus,2018,2800000,26000,Diesel,Dealer,Automatic,First Owner,15.73 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
3110,Audi A4 35 TDI Premium Plus,2015,1750000,37000,Diesel,Dealer,Automatic,First Owner,18.25 kmpl,1968 CC,187.74 bhp,400Nm@ 1750-3000rpm,5.0,1,Audi
3236,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
3321,Audi Q7 3.0 TDI Quattro,2009,810000,98000,Diesel,Individual,Automatic,Fourth & Above Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,4,Audi
4019,Audi Q7 3.0 TDI Quattro,2010,1750000,110000,Diesel,Individual,Automatic,Second Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,2,Audi
4308,Audi A4 1.8 TFSI,2010,730000,55000,Petrol,Individual,Automatic,Second Owner,12.3 kmpl,1781 CC,163.2 bhp,"22.9@ 1,950-4,700(kgm@ rpm)",5.0,2,Audi
4676,Audi Q3 2.0 TDI Quattro Premium Plus,2016,2375000,30000,Diesel,Dealer,Automatic,First Owner,15.73 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
4682,Audi A4 35 TDI Premium Plus,2018,2900000,15000,Diesel,Dealer,Automatic,First Owner,18.25 kmpl,1968 CC,187.74 bhp,400Nm@ 1750-3000rpm,5.0,1,Audi
4772,Audi Q5 45 TDI quattro Technology,2015,2700000,105000,Diesel,Dealer,Automatic,Second Owner,13.22 kmpl,2967 CC,241.4 bhp,580Nm@ 1400-3250rpm,5.0,2,Audi
4950,Audi A6 35 TFSI Matrix,2019,6223000,7800,Petrol,Dealer,Automatic,Test Drive Car,15.26 kmpl,1798 CC,187.74 bhp,320Nm@ 1400-4100rpm,5.0,0,Audi
4951,Audi A6 35 TFSI Matrix,2019,5923000,11500,Petrol,Dealer,Automatic,Test Drive Car,15.26 kmpl,1798 CC,187.74 bhp,320Nm@ 1400-4100rpm,5.0,0,Audi
4952,Audi A6 35 TFSI Matrix,2019,6523000,23600,Petrol,Dealer,Automatic,Test Drive Car,15.26 kmpl,1798 CC,187.74 bhp,320Nm@ 1400-4100rpm,5.0,0,Audi
5152,Audi Q7 3.0 TDI Quattro,2009,1025000,120000,Diesel,Individual,Automatic,Third Owner,12.07 kmpl,2967 CC,241.4 bhp,550Nm@ 1750-2750rpm,7.0,3,Audi
5245,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
5261,Audi A4 35 TDI Premium Plus,2016,1898999,46000,Diesel,Dealer,Automatic,First Owner,18.25 kmpl,1968 CC,187.74 bhp,400Nm@ 1750-3000rpm,5.0,1,Audi
5547,Audi A4 2.0 TDI 177 Bhp Premium Plus,2013,1200000,110000,Diesel,Individual,Automatic,First Owner,17.11 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
6681,Audi Q3 35 TDI Quattro Technology,2018,2200000,25000,Diesel,Individual,Automatic,Second Owner,15.17 kmpl,1968 CC,181 bhp,380Nm@ 1750-3000rpm,5.0,2,Audi
7077,Audi A3 35 TDI Premium Plus,2018,3000000,20000,Diesel,Individual,Automatic,First Owner,20.38 kmpl,1968 CC,143 bhp,320Nm@ 1750-3000rpm,5.0,1,Audi
7324,Audi Q3 2.0 TDI Quattro Premium Plus,2017,2825000,22000,Diesel,Dealer,Automatic,First Owner,15.73 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
7374,Audi A4 35 TDI Premium Plus,2016,2450000,30000,Diesel,Dealer,Automatic,First Owner,18.25 kmpl,1968 CC,187.74 bhp,400Nm@ 1750-3000rpm,5.0,1,Audi
7379,Audi A6 2.0 TDI Premium Plus,2013,2000000,35000,Diesel,Individual,Automatic,Second Owner,17.68 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,2,Audi
7508,Audi A6 2.0 TDI,2014,2200000,60000,Diesel,Individual,Automatic,First Owner,17.68 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
7699,Audi Q5 35TDI Premium Plus,2018,3975000,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0,1,Audi
7747,Audi A4 2.0 TDI,2014,1500000,60000,Diesel,Individual,Automatic,First Owner,16.55 kmpl,1968 CC,147.51 bhp,320Nm@ 1750-2500rpm,5.0,1,Audi
7775,Audi Q5 3.0 TDI Quattro,2014,1850000,76131,Diesel,Individual,Automatic,First Owner,13.22 kmpl,2967 CC,241.4 bhp,580Nm@ 1400-3250rpm,5.0,1,Audi
7811,Audi Q3 2.0 TDI Quattro Premium Plus,2014,1200000,230000,Diesel,Individual,Automatic,First Owner,15.73 kmpl,1968 CC,174.33 bhp,380Nm@ 1750-2500rpm,5.0,1,Audi
8058,Audi A3 40 TFSI Premium,2017,1689999,8000,Petrol,Dealer,Automatic,First Owner,16.6 kmpl,1798 CC,177.5 bhp,250Nm@ 1250-5000rpm,5.0,1,Audi

In [21]:
pd.get_dummies(df["brand"])

,Ambassador,Ashok,Audi,BMW,Chevrolet,Daewoo,Datsun,Fiat,Force,Ford,...,Mitsubishi,Nissan,Opel,Peugeot,Renault,Skoda,Tata,Toyota,Volkswagen,Volvo
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [22]:
df.groupby("brand").count()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,owner_encoded,age
brand,,,,,,,,,,,,,,,
Ambassador,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Ashok,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Audi,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
BMW,120,120,120,120,120,120,120,120,118,118,118,118,118,120,120
Chevrolet,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
Daewoo,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Datsun,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65
Fiat,47,47,47,47,47,47,47,47,41,41,41,41,41,47,47
Force,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Ford,397,397,397,397,397,397,397,397,388,388,388,388,388,397,397
Honda,467,467,467,467,467,467,467,467,466,466,466,466,466,467,467
Hyundai,1415,1415,1415,1415,1415,1415,1415,1415,1360,1360,1360,1360,1360,1415,1415
Isuzu,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Jaguar,71,71,71,71,71,71,71,71,71,71,71,71,71,71,71
Jeep,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
Kia,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Land,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Lexus,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
MG,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Mahindra,772,772,772,772,772,772,772,772,758,758,758,758,758,772,772
Maruti,2448,2448,2448,2448,2448,2448,2448,2448,2368,2368,2372,2367,2368,2448,2448
Mercedes-Benz,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54
Mitsubishi,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Nissan,81,81,81,81,81,81,81,81,81,81,81,81,81,81,81
Opel,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Peugeot,1,1,1,1,1,1,1,1,0,0,0,0,0,1,1
Renault,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228
Skoda,105,105,105,105,105,105,105,105,104,104,104,104,104,105,105
Tata,734,734,734,734,734,734,734,734,719,719,721,719,719,734,734
Toyota,488,488,488,488,488,488,488,488,452,452,452,452,452,488,488
Volkswagen,186,186,186,186,186,186,186,186,185,185,185,185,185,186,186
Volvo,67,67,67,67,67,67,67,67,67,67,67,67,67,67,67