# 2022-11-14

In [1]:
import pandas as pd

In [7]:
data = {"name": ["Anna", "Leslie", "Hope", "Angel"], "title": ["Ms", "Mrs", "Ms", "Mrs"]}

df = pd.DataFrame(data)
df.head()
df["is_wife"] = df["title"].apply(lambda x: int(x == "Mrs"))
df.head()

     name title  is_wife
0    Anna    Ms        0
1  Leslie   Mrs        1
2    Hope    Ms        0
3   Angel   Mrs        1

In [9]:
from typing import List

class Knyguklubas:
    pass

class Humanitas:
    pass

SCRAPERS = {
    'knugu_klubas': Knyguklubas,
    'humanitas': Humanitas
}


def scrape(a, b, scrapers: List[str]):
    scrapers_objects = []
    for scraper_key in scrapers:
        scrapers_objects.append(SCRAPERS[scraper_key]())

    for i in scrapers_objects:
        print(i)

In [10]:
scrape(10, 35, ['knugu_klubas', "humanitas"])

<__main__.Knyguklubas object at 0x10fec99d0>
<__main__.Humanitas object at 0x10fec9700>