### List

In [14]:
a = [1, 1.9, "string"]
print(a[-1])
print(a[0])
len(a)

a = [1, 4, 3, 2, 5]
a.sort()
a

a = [1, 4, 3, 2, 5]
a.reverse()
a

a.append(6)
a

string
1

[5, 2, 3, 4, 1, 6]

In [13]:
a = [1, 2, 3, "6"]
a.sort()
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
a = [1, 2, 3, 4]
b = [2, 3, 4, 5]
a.append(b)
a[4][1]

3

In [85]:
a = [1, 2, 3, 4]
b = [2, 3, 4, 5]
a.extend(b)
a

[1, 2, 3, 4, 2, 3, 4, 5]

In [86]:
a.pop(3)
a

[1, 2, 3, 2, 3, 4, 5]

In [87]:
del a[1]
a

[1, 3, 2, 3, 4, 5]

In [89]:
del a[:-1]
a

[5]

In [23]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3]
a + b

[1, 2, 3, 4, 5, 1, 2, 3]

In [40]:
a = [1, 2, 3]
b = a
print(a)
print(b)
a.append(2)
print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 2]
[1, 2, 3, 2]
4646501248
4646501248

In [44]:
a = [1, 2, 3]
b = a.copy()
print(a)
print(b)
a.append(2)
print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 2]
[1, 2, 3]
4546354624
4546353024

In [79]:
a = [1, 2, 4]
a.insert(2, 3)
a

[1, 2, 3, 4]

### Dict

In [47]:
a = {"val1": 1, "val2": 2, "val3": 3}
a["val2"]

2

In [53]:
a = {"val1": 1, "val2": 2, "val3": 3}
a.keys()
list(a.items())[0]

('val1', 1)

In [55]:
a = {"key1": {"key2": [1, 2, 3]}}
a

{'key1': {'key2': [1, 2, 3]}}

In [57]:
person = {"name": "Dominykas", "age": 23}
person["name"]

person = ["Dominykas", 23]

In [59]:
import pandas as pd

pd.DataFrame({"names": ["Dominykas", "Akvile"], "role": ["lecturer", "student"]})

       names      role
0  Dominykas  lecturer
1     Akvile   student

### Tuple

In [64]:
a = [1, 2, 3]
b = (1, 2, 3)
print(a[0] is b[0])
a is b

c = (1, 2, 3)

b + c

True

AttributeError: 'tuple' object has no attribute 'append'

In [68]:
class_of_students = [{"name": "Akvile"}, {"name": "Edgaras"}]
print(class_of_students)
class_of_students.append({"name": "Antanas"})
print(class_of_students)

planets_of_our_system = ("Mercury", "Venus", "Earth")

[{'name': 'Akvile'}, {'name': 'Edgaras'}]
[{'name': 'Akvile'}, {'name': 'Edgaras'}, {'name': 'Antanas'}]

In [70]:
list(planets_of_our_system)
tuple(class_of_students)

({'name': 'Akvile'}, {'name': 'Edgaras'}, {'name': 'Antanas'})

In [71]:
def insert_into_list(list: List[int], new_values: List[int]) ->:
    new_litst = []

SyntaxError: invalid syntax (2131768320.py, line 1)

In [73]:
a = {1, 2, 3, 4, 5, 5}
a

{1, 2, 3, 4, 5}

In [76]:
car_reg_nos = ["LRK432", "KPN321", "OPS434", "LRK432"]
list(set(car_reg_nos))

['LRK432', 'OPS434', 'KPN321']

### Control sequances

In [93]:
a = 1
b = 2

if a > b:
    print(f"{a} is more than {b}")
else:
    print(f"{a} is not more than {b}")

1 is not more than 2

In [96]:
a = -1
b = 1

if a > b:
    print(f"{a} is more than {b}")
elif a == b:
    print(f"{a} is equal to {b}")
elif a < 0:
    print(f"{a} is a negative number")
else:
    print(f"{a} is not more than {b}")

-1 is a negative number

In [104]:
a = 10
b = 10
c = 70

if (a > b) and (a > c):
    print("a is the largest number")
if b > a and b > c:
    print("b is the largest number")
elif c > a and c > b:
    print("c is the largest number")
else:
    print("all numbers are equal")


max([a, b, c])

c is the largest number

70

In [103]:
i_am_hungry = False

if i_am_hungry:
    print("I am hungry")
else:
    print("I am not hungry")

I am not hungry

In [105]:
if 10 != 4:
    print("not eq")

not eq

In [ ]:
if 10 is not 4:
    print("not eq")

### For / While

In [109]:
for a in [1, 2, 3]:
    print(a)

for a in "Labas, studentai!":
    print(a)

1
2
3
L
a
b
a
s
,

s
t
u
d
e
n
t
a
i
!

In [110]:
for a in range(0, 10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [111]:
for a in range(2, 10, 2):
    print(a)

2
4
6
8

In [116]:
class_of_students = [{"name": "Akvile", "lastname": "Petraityte"}, {"name": "Edgaras", "lastname": "Petraitis"}]

class_of_students[0]
class_of_students[1]

for student in class_of_students:
    name = student["name"]
    last_name = student["lastname"]

    print(f"Student's name is {name} and last name is {last_name}")

Student's name is Akvile and last name is Petraityte
Student's name is Edgaras and last name is Petraitis

In [117]:
class_of_students = [{"name": "Akvile", "lastname": "Petraityte"}, {"name": "Edgaras", "lastname": "Petraitis"}]

for id, student in enumerate(class_of_students):
    print(id)
    name = student["name"]
    last_name = student["lastname"]

    print(f"Student's name is {name} and last name is {last_name}")

0
Student's name is Akvile and last name is Petraityte
1
Student's name is Edgaras and last name is Petraitis

In [118]:
for i, a in enumerate(range(0, 10, 2)):
    print(i, a)

0 0
1 2
2 4
3 6
4 8

In [120]:
for i, a in enumerate(range(0, 10, 2)):
    print(a)
    if a is 4:
        break

0
2
4

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/ly/zd1nf1ns36x9fdjljg6sxfq00000gq/T/ipykernel_77070/2473253507.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a is 4:

In [125]:
def find_number_mult__more_than_n(n: int) -> int:
    for i in range(0, 10):
        for j in range(0, 10):
            print(i, j)
            if i * j > n:
                return i * j

find_number_mult__more_than_n(13)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7

14

In [129]:
for i in range(1, 10):
    for j in range(1, 10):
        if j > 5:
            print(i, j)
            break

1 6
2 6
3 6
4 6
5 6
6 6
7 6
8 6
9 6

In [ ]:
for i in range(0, 10):
    for j in range(0, 10):
        print(i, j)

### While

In [131]:
a = 10

is_not_answered = True

while is_not_answered:
    guess = int(input())
    if guess == a:
        is_not_answered = False

In [133]:
for i in range(0, 5):
    print(i)

i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4
0
1
2
3
4

In [136]:
i = 0
while i < 100:
    for j in range(0, 10):
        i += j

In [137]:
a = [1, 2, 3, 4, 5]
while i < len(a):
    print(a[i])
    i += 1

1
2
3
4
5

In [ ]:
while i < 10:
    a = 10
    stri = "vardas"

In [142]:
a = [1, 2, 3, 4, 5]
a = [i for i in range(1, 101)]

a = []
for i in range(1, 101):
    a.append(i)

In [145]:
a = [1, 2, 3, 4]

b = []
for i in a:
    b.append(i * 2)
print(b)

b = [i * 2 for i in a]
print(b)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [152]:
from math import fmod


a = [1, 2, 3, 4, 5]
b = [i for i in a if not (i % 2) and fmod(i, 2) > 1]
b

[]

In [156]:
3 % 100

3

In [163]:
import requests as req

resp = req.get("http://sixty-north.com/c/t.txt")
sentenses = resp.text.split("\n")
sent_to_wordcount = {}
for i, sentence in enumerate(sentenses):
    sent_to_wordcount[i] = len(sentence.split())

print(sent_to_wordcount)

{0: 6, 1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 6, 9: 6, 10: 5, 11: 5, 12: 7, 13: 8, 14: 14, 15: 12, 16: 8}

### Filter

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

### Map

In [ ]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

### Reduce

In [ ]:
import functools
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

In [166]:
%%time
nums = [7, 15, 11, 2]
target = 9

for i in range(0, len(nums) - 1):
    for j in range(i + 1, len(nums)):
        if nums[i] + nums[j] == target:
            print(nums[i], nums[j])

7 2

In [170]:
%%time
nums = [7, 15, 11, 2]
target = 22

nums.sort()

#nums = [2, 7, 11, 15]

for i in range(0, len(nums) - 1):
    if nums[i] + nums[i + 1] == target:
        print(nums[i], nums[i + 1])

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 7.87 µs

In [ ]:
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

assert not isEnglish('slabiky, ale liší se podle významu')
assert isEnglish('English')
assert not isEnglish('ގެ ފުރަތަމަ ދެ އަކުރު ކަ')
assert not isEnglish('how about this one : 通 asfަ')
assert isEnglish('?fd4))45s&')